<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div id="wrapper">
        <div id="nav">
            <ul>
                <li><a href="/">Home</a></li> |
                <li><a href="/projects">Projects</a></li> |
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div id="heading">
            <h1>Here are some cool projects of mine!</h1>
        </div>
        <div id="body">
            <div class="row">
                <div id="scroll_window" style="width:700px;height:500px;line-height:3em;overflow:scroll;padding:5px;color:#000;scrollbar-base-color:#DEBB07;">
                    <div class="project">
                        <h3>Grace Homemade Catering</h3>
                        <img class="proj_img" src="~/images/grace.png" alt="grace homemade catering image">
                        <p>Landing page for a catering company.</p>
                    </div>
                    <div class="project">
                        <h3>Bug Tracking app.</h3>
                        <img class="proj_img" src="~/images/tracker.png" alt="bug tracker image">
                        <p>Bug Tracking app designed to help track those little bugs that appear in our software.</p>
                    </div>
                    <div class="project">
                        <h3>Personal portfolio page.</h3>
                        <img class="proj_img" src="~/images/portfolio.png" alt="portfolio image">
                        <p>This is my personal portfolio page.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>